---
- hosts: all
  gather_facts: true
  vars:
    docker_username: "{{ docker_username }}"  
    image_name: "{{ docker_image_name }}"                   
    image_tag: "{{ docker_image_tag }}"                          
  tasks:
    - name: Add user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes
      become: yes
    - name: Deploy the imges from docker hub
      shell: |
       docker pull {{ docker_username }}/{{ image_name }}:{{ image_tag }}
       docker images
      register: deploy_image
    - name: Display image deploy result
      debug:
        var: deploy_image.stdout_lines
    - name: Run the Docker Container
      community.docker.docker_container:
        name: "{{ image_name }}"
        image: "{{ docker_username }}/{{ image_name }}:{{ image_tag }}"
        state: started
    - name: Verify the Docker Container is Running
      shell: |
       docker ps -a
       docker images
         
        



