- hosts: localhost
  become: yes
  tasks:
    - name: Install Docker
      yum:
        name: docker.io
        state: present
        update_cache: yes
    - name: Start and enable Docker service
      systemd:
        name: docker
        state: started
        enabled: yes
    - name: Add user to docker group
      user:
        name: "{{ ansible_env.USER }}"
        groups: docker
        append: yes   
    - name: Verify Docker installation
      command: docker --version
      register: docker_version
    - name: Display Docker version
      debug:
        msg: "Docker version installed: {{ docker_version.stdout }}"
